# 01_envar.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production
    SECRET_KEY: "OYIH9N005LZOJ3EDMU6W"
    MONGO_URL: "mongodb+srv://cinta-negra27_user:1q2w3e4r5t6y@cintanegra27-db-zqg1p.mongodb.net/test?retryWrites=true"
    CLOUDINARY_NAME: luisabaunza
    CLOUDINARY_API_KEY: 756122754929729
    CLOUDINARY_SECRET_KEY: PjxqgjfeYI2kk58n2gSwwepySHk